extends layout.pug

block content
    .all-posts
        each post in posts
            div(class='post-container' id=`post-container-${post.id}`)
                h3= post.title
                p(id=`post-content-${post.id}`)= post.content
                a(href=`/posts/${post.id}`) Take Me To This Post!
                if activeUser === post.userId
                    button(class='delete-btn' id=`delete-post-${post.id}`) Delete
                    button(class='edit-btn' id=`edit-post-${post.id}`) Edit
                    form(class='hidden' id=`edit-form-${post.id}`) 
                        label(for="content") Content:
                        input(type="text" name='content' value=post.content)
                        button(class='edit-submit-btn' id=`edit-btn-${post.id}`) Submit Edit